* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'poppins';
}

@media (max-width: 768px) {
  body {
    padding: 0 10px; /* Add padding for smaller screens */
  }
}
